{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Account/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'Account/assets/css/bootstrap-grid.min.css' %}">
</head>
</head>
<body>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-primary bg-primary ">
            <a class="navbar-brand" href="#">Chat Room</a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>
            <a class="navbar-brand"></a>

            <a class="navbar-brand offset-lg-4"><h3 style="color: white;">Welcome, {{ request.user }}</h3></a>
             <a href="{% url 'accounts:logout' %}"><button class="btn btn-danger mb-2 ml-1" type="submit" >Log out</button></a>
    </nav>
        </div>
    </div>

{% block content %}
    <div class="container mt-5">
        <h2>Tables of Contents</h2>
        <a class="list-group-item" href="{% url 'chat:all' %}">Start Chatting</a>

    </div>

{% endblock %}





    <script src="{% static 'Account/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'Account/assets/js/bootstrap.css' %}"></script>
    <script src="{% static 'Account/assets/js/bootstrap.min.css' %}"></script>
    <script src="{% static 'Account/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Account/assets/js/bootstrap.bundle.css' %}"></script>
</body>
</html>